<!DOCTYPE html>
<html>
<head>
    <title>CAM</title>
</head>
<body>
    <h1>CAM page</h1>
    <script type='text/javascript'>
      var image = document.createElement('img') ;
      image.src = '/img'+'?time='+new Date().getTime() ;
      setInterval(function () {
          changeImage() ;
        }, 400) ;
      function changeImage() {
          image.src = '/img'+'?time='+new Date().getTime() ;
          document.body.appendChild(image) ;
        }
    </script>
    <form action='/test' method='post'>
        <input type='submit' value='on' name='led'>
        <input type='submit' value='off' name='led'>
    </form>
</body>
</html>